@tailwind base;
@tailwind components;
@tailwind utilities;

.badge:hover{
    background-color: rgba(0,0,0,0.1);
}
.bouton{
    background-color: gray;
    border-radius: 15%;
}
.chanpForm{
    border: black 2px;
    background-color: gray;
}
.recipe-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.recipe-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.recipe-form input,
.recipe-form textarea,
.recipe-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.recipe-form textarea {
    height: 100px;
}

.recipe-form .upload-btn {
    margin-top: 10px;
}

.recipe-form .submit-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.recipe-form .submit-btn:hover {
    background-color: #45a049;
}
